In [ ]:
#DZ 1 Выполнил Попков Руслан Анатольевич РИ-400034
import polars as pl
import pandas as pd

In [ ]:
#Polars
#Чтение данных
df_pl = pl.read_csv("train.csv")

In [ ]:
#Основная информация о датасете
df_pl.info()

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

AttributeError: 'DataFrame' object has no attribute 'info'

In [ ]:
# Подсчет количества пассажиров каждого класса (Pclass)
passenger_count = df_pl.group_by('Pclass').agg(pl.count('Pclass').alias('Passenger_Count'))
print(passenger_count)

shape: (3, 2)
┌────────┬─────────────────┐
│ Pclass ┆ Passenger_Count │
│ ---    ┆ ---             │
│ i64    ┆ u32             │
╞════════╪═════════════════╡
│ 2      ┆ 184             │
│ 3      ┆ 491             │
│ 1      ┆ 216             │
└────────┴─────────────────┘

In [ ]:
# Фильтрация выживших пассаижров
survived = df_pl.filter(df_pl['Survived'] == 1)

# Подсчет количества выживших мужчин и женщин
survived = survived.group_by('Sex').agg(pl.count('Sex').alias('Survived_Count'))
print(survived)

shape: (2, 2)
┌────────┬────────────────┐
│ Sex    ┆ Survived_Count │
│ ---    ┆ ---            │
│ str    ┆ u32            │
╞════════╪════════════════╡
│ male   ┆ 109            │
│ female ┆ 233            │
└────────┴────────────────┘

In [ ]:
# Вывод части таблицы с пассажирами, возраст которых больше 44 лет
old_pass = df_pl.filter(df_pl['Age'] > 44)
print(old_pass)

shape: (115, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket     ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---        ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str        ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪════════════╪═════════╪═══════╪══════════╡
│ 7           ┆ 0        ┆ 1      ┆ McCarthy, Mr.    ┆ … ┆ 17463      ┆ 51.8625 ┆ E46   ┆ S        │
│             ┆          ┆        ┆ Timothy J        ┆   ┆            ┆         ┆       ┆          │
│ 12          ┆ 1        ┆ 1      ┆ Bonnell, Miss.   ┆ … ┆ 113783     ┆ 26.55   ┆ C103  ┆ S        │
│             ┆          ┆        ┆ Elizabeth        ┆   ┆            ┆         ┆       ┆          │
│ 16          ┆ 1        ┆ 2      ┆ Hewlett, Mrs.    ┆ … ┆ 248706     ┆ 16.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ (Mary D          ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ Kingcome)        ┆   ┆            ┆         ┆       ┆          │
│ 34          ┆ 0        ┆ 2      ┆ Wheadon, Mr.     ┆ … ┆ C.A. 24579 ┆ 10.5    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Edward H         ┆   ┆            ┆         ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …          ┆ …       ┆ …     ┆ …        │
│ 863         ┆ 1        ┆ 1      ┆ Swift, Mrs.      ┆ … ┆ 17466      ┆ 25.9292 ┆ D17   ┆ S        │
│             ┆          ┆        ┆ Frederick Joel   ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Marg…           ┆   ┆            ┆         ┆       ┆          │
│ 872         ┆ 1        ┆ 1      ┆ Beckwith, Mrs.   ┆ … ┆ 11751      ┆ 52.5542 ┆ D35   ┆ S        │
│             ┆          ┆        ┆ Richard Leonard  ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ (…               ┆   ┆            ┆         ┆       ┆          │
│ 874         ┆ 0        ┆ 3      ┆ Vander Cruyssen, ┆ … ┆ 345765     ┆ 9.0     ┆ null  ┆ S        │
│             ┆          ┆        ┆ Mr. Victor       ┆   ┆            ┆         ┆       ┆          │
│ 880         ┆ 1        ┆ 1      ┆ Potter, Mrs.     ┆ … ┆ 11767      ┆ 83.1583 ┆ C50   ┆ C        │
│             ┆          ┆        ┆ Thomas Jr (Lily  ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ Ale…             ┆   ┆            ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴────────────┴─────────┴───────┴──────────┘

In [ ]:
#Ускорение работы с pandas
#Считывание датасета
df_pd = pd.read_csv('train.csv')

In [ ]:
import bottleneck as bn
# Подсчет среднего возраста пассажиров
average_age = bn.nanmean(df_pd['Age'])
# Подсчет стандартного отклонения возраста пассажиров
std_age = bn.nanstd(df_pd['Age'])
print("Средний возраст:", round(average_age,1))
print("Стандартное отклонение", round(std_age,1))

Средний возраст: 29.7
Стандартное отклонение 14.5

In [ ]:
# Определение функции для умножения значения столбца Fare в зависимости от класса билета
def calculate_fare(row):
    if row['Pclass'] in [1, 2]:
        return row['Fare'] * 1.3
    elif row['Pclass'] == 3:
        return row['Fare'] * 1.1
# Применение функции к каждой строке датасета и сохранение результата в новом столбце Fare_new
df_pd['Fare_new'] = df_pd.apply(calculate_fare, axis=1)
# Вывод первых нескольких строк датасета для проверки
print(df_pd.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  Fare_new
0      0         A/5 21171   7.2500   NaN        S   7.97500
1      0          PC 17599  71.2833   C85        C  92.66829
2      0  STON/O2. 3101282   7.9250   NaN        S   8.71750
3      0            113803  53.1000  C123        S  69.03000
4      0            373450   8.0500   NaN        S   8.85500

In [48]:
#Оптимизация типов pandas
df = pd.read_csv("housing.csv")

In [49]:
#До оптимизации
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [53]:
#Заполнение пустых ячеек
df=df.fillna(0)
#longitude    (min -124.35, max -114.31)
#latitude (min 32.54 max 41.95)
#housing_median_age (min 1 max 52)
#total_rooms (min 2, max 39320)
#total_bedrooms (min 1 max 6445)
#population (min 3 max 1725)
#households (min 1 max 6082)
#median_income (min 0,4999 max 15.001)
#median_house_value (min 14999 max 500001)

In [51]:
#Изменение типов
import numpy as np
df['longitude'] = df['longitude'].astype(np.int8)
df['latitude'] = df['latitude'].astype(np.uint8)
df['housing_median_age'] = df['housing_median_age'].astype(np.uint8)
df['total_rooms'] = df['total_rooms'].astype(np.uint8)
df['total_bedrooms'] = df['total_bedrooms'].astype(np.uint16)
df['population'] = df['population'].astype(np.uint16)
df['households'] = df['households'].astype(np.uint16)
df['median_income'] = df['median_income'].astype(np.float16)
df['median_house_value'] = df['median_house_value'].astype(np.float16)

/usr/local/lib/python3.10/dist-packages/pandas/core/dtypes/astype.py:170: RuntimeWarning: overflow encountered in cast
  ndarray or ExtensionArray

In [54]:
#После оптимизации
df.info()
#Итог: после подбора оптимальных типов для столбцов потребление памяти снизилось с 1.6МБ до 443.6КБ (~4х)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  int8
 1   latitude            20640 non-null  uint8
 2   housing_median_age  20640 non-null  uint8
 3   total_rooms         20640 non-null  uint8
 4   total_bedrooms      20640 non-null  uint16
 5   population          20640 non-null  uint16
 6   households          20640 non-null  uint16
 7   median_income       20640 non-null  float16
 8   median_house_value  20640 non-null  float16
 9   ocean_proximity     20640 non-null  object
dtypes: float16(2), int8(1), object(1), uint16(3), uint8(3)
memory usage: 443.6+ KB